<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:psb="http://typo3.org/ns/PSB/PsbFoundation/ViewHelpers">
<f:layout name="Module" />

<f:section name="Content">
    <h1>
        <psb:translate id="header" />
    </h1>

    <f:if condition="{variables}">
        <f:then>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <psb:translate id="name" />
                    </th>
                    <th>
                        <psb:translate id="value" />
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for
                    as="variable"
                    each="{variables}">
                    <tr>
                        <td>
                            {variable.name}
                        </td>
                        <td>
                            {variable.rawValue}
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <psb:translate id="noVariablesFound" />
        </f:else>
    </f:if>
</f:section>
</html>
