<html
    data-namespace-typo3-fluid="true"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:foundation="http://typo3.org/ns/PSBits/Foundation/ViewHelpers">
<f:layout name="Module" />

<f:section name="Content">
    <div class="row">
        <div class="col">
            <h1>
                <foundation:translate id="header" />
            </h1>

            <p>
                <foundation:translate
                    arguments="{number: totalCount}"
                    id="summary" />
            </p>

            <f:if condition="{registeredIcons}">
                <f:then>
                    <div class="table-fit">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <foundation:translate id="table.preview" />
                                </th>
                                <th>
                                    <foundation:translate id="table.identifier" />
                                </th>
                                <th>
                                    <foundation:translate id="table.source" />
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for
                                as="icon"
                                each="{registeredIcons}"
                                key="iconIdentifier">
                                <tr>
                                    <td>
                                        <core:icon
                                            identifier="{iconIdentifier}"
                                            size="small" />
                                    </td>
                                    <td>
                                        <code>{iconIdentifier}</code>
                                    </td>
                                    <td>
                                        <code>{icon.options.source}</code>
                                    </td>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>
                    </div>
                </f:then>
                <f:else>
                    <div class="alert alert-info">
                        <foundation:translate id="noIcons" />
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>
</html>
